<article class="box_class">
  <br />
  <h2>Наш адрес :</h2>
  <br />
  <%= image_tag 'adress.jpg', width: 650 %>
  <br />
  <br />
  <h3>&#149Москва, Измайловский проспект 73/2 - Главный офис 8(758)7548474 </h3>
  <h3>&#149Волгоград, улица Циолковского 33  - Международный офис 8(743)754356</h3>
  <h2>Юридический адрес :</h2>
  <h3>&#149Москва, ул.Бауманская, д.5, 8(800)6668712</h3>
  <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=4yf1lvSiPRcBRfYAHfIMKAm8ZyezJhNX&amp;
  width=600&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
</article>


<br/>