
<article class="box_class">

  <br />
  <h1>Контакты</h1>
  <br />
  <%= image_tag 'contakts.jpeg', width: 650 %>
  <br />
  <br />
  <h1>Почта Пчелка Россия :</h1>
  <p>pchelka@gmail.com</p>
  <h1>Мы в социальных сетях :</h1> </br>
 <a class="button_main_page" href="https://twitter.com">Twitter</a>
  <a class="button_main_page" href="https://instagram.com">Instagram</a>
  <h1>Следите за нашими обновлениями!</h1> </br>
</article>

<br/>