<article class="box_class">
  <br />
  <p><%= notice %></p>
  <h1><%=t :добро %></h1>
  <br />
  <%= image_tag 'main.jpg', width: 700 %>
  <br />
  <br />
  <a class="button_main_page" href="http://localhost:3000/main_page/uzn_bol">Узнать больше</a>
</article>
<br/>