<article class="box_class">
  <br />
  <p><%= notice %></p>
  <h1>Проходит набор в команду Пчелка Россия!</h1>
  <br />
  <%= image_tag 'pchela.jpg', width: 400 %>
  <br />
  <h4>
    Мы ищем ответственных людей, желательно от 20 лет.
    Для подачи заявки на собеседование </br >можно
    позвонить оператору , либо написать на почту Пчелка Россия, указав ваши профессиональные навыки.</br>
    <h3>Наши контакты:</h3>
    <h3>Оператор Пчелка : +75436345387  </br>
      Почта : pchelka@gmail.com </br>
      Отдел трудоустройства : 8(645)3457373</h3>
  </h4>
</article>
<br/>