<h1>Results</h1>
<p>Reverse#show in app/views/reverse/show.html.erb</p>
<%= @result %>
</br>
<%= link_to "Repeat calculation", "/reverse/data" %> Using link as "/reverse/data"
</br>
<%= link_to "Repeat calculation", :reverse_data %> Using link as :reverse_data
