// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//none
.navigation a
{
  color: #ffffff;
}

a
{
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

body
{
  margin:0;
  font-family: 'Open Sans', sans-serif;
}

//main_page

.main_div /* задаём основное по центу всю страницу*/
{
  //align: center;
  width: 1000px;
  margin: 0 auto; /* столбик был по середине*/
}


.center_div //добавляется для каждой переходящей ссылки файликов
{
  width: 1000px;
}

.header_div //добавляется меню
{
  box-shadow: 1px 1px 3px #565755;
  width: 1000px;
  height: auto;
  background-color: #303132;
  padding: 15px 0;
}

.image_main // логотип
{
  margin-right: 10px;
  margin-top: 5px;
  float : left;
}

.navigation //часть меню
{
  //background-image: url(https://pp.vk.me/c837236/v837236966/e48d/NmurhvYLcs4.jpg);
  line-height: 200%;
  width: 100%;
}

.ul_inline   //меню его параметры
{
  margin: 0; /* Обнуляем значение отступов */
  padding: 5px; /* Значение полей */

}

ul.ul_inline li {
  display: inline; /* Отображать как строчный элемент */
  margin: 3px; /* Отступ между */
  padding: 15px; /* Поля вокруг текста */
  background-color: #f5b014;
}

//main_page/main
.button_main_page
{
  color: #000;
  padding: 10px;
  background-color: #f5b014;
  box-shadow: 2px 2px 5px #565755;
}

.box_class //белый бокс
{
  margin-top: 10px;
  margin-bottom: 10px;
  //padding: 0 0 20px 0;
  padding-bottom: 20px;

  box-shadow: 1px 1px 3px #565755;
  /*border-width: 0 2px 3px 0;
  border-color: #BBBBBB;
  border-style: solid;*/

}

