<h2>Instructions</h2>
<h3>Use options from a list below</h3>
<h4>Main page</h4>
<p>You're here. Contains decription of created functions and playing a role of root query</p>
<h4>Calculations</h4>
<p>Practicum 5 legacy, the main function. Use this to reverse and transform nubmers</p>
<h4>Base</h4>
<p>Isn't than simple. All your calculations are belong to base. Represented as RSS</p>
<h4>Last used record</h4>
<p>Just for testing of method Nubmer.touch. Use this to see the last calculation result</p>